* {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.centered-container {
 height:100%;
 display:table;
}

.centered-row {
    height: 100%;
    display:table-cell;
    vertical-align: middle;
}

#loginContainer button {
    float: right;
    margin-top: 15px;
}

input {
    height: 30px !important;
    line-height: 30px !important;
}

#dashboard-container {
    height: 100%;
}

form button {
    margin-top: 15px;
}

