[class^="icon-"] {
    background-image: url("/resources/images/glyphicons-halflings.png");
}

[class*="icon-white"] {
    background-image: url("/resources/images/glyphicons-halflings-white.png");
}

.login-container {
    top: 100px;
    position: absolute;
}

.login-form {
    margin-top: 30px;
}
