<div ng:init="$root.pageTitle = title"></div>

<div class="container">
    <h1 class="text-center">{{formHeaderMsg}}</h1>
    <div class="well span7 offset2">
        <form class="form-horizontal" name="roleForm" novalidate>
            <div class="control-group">
                <label class="control-label" for="name">{{msg('users.roles.form.name')}}:</label>
                <div class="controls">
                    <div class="input-append">
                        <input ng-model="role.name" type="text" id="name" name="name" placeholder="{{msg('users.roles.form.name.placeholder')}}" required />
                        <span class="add-on"><i class="icon-tag"></i></span>
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <th colspan="2">{{msg('users.roles.form.permissions.header')}}</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="span1"><input id="permission_all" type="checkbox" ng-click="selectAllPermissions()" ng-checked="isAllSelected()"/></td>
                        <td class="span11"><label for="permission_{{key}}">{{msg('users.roles.form.checkAll')}}</label></td>
                    </tr>
                    <tr ng-repeat="(key, item) in permissionList">
                        <td class="span1"><input id="permission_{{key}}" type="checkbox" ng-model="selectedPermissions[item.id]" ng-checked="selectedPermissions[item.id]" /></td>
                        <td class="span11"><label for="permission_{{key}}">{{item.displayName}}</label></td>
                    </tr>
                </tbody>
            </table>
            <div class="control-group">
                <button type="submit" class="btn btn-primary offset2" ng-click="submitRole()" ng-disabled="roleForm.$invalid">Submit</button>
            </div>
        </form>
    </div>
</div>
