<div ng:init="$root.pageTitle = title"></div>

<div class="container">
    <h1 class="text-center">{{msg('roles')}}</h1>
    <div class="span7 offset2 well">
        <table class="table table-hover" ng-show="roles.length > 0">
            <thead>
            <tr>
                <th>{{msg('roles.list.roleName')}}</th>
                <th>{{msg('common.actions')}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="role in roles | orderBy:'+name'" role-popover>
                <td><a href="#/users/roles/{{role.id}}">{{role.name}}</a></td>
                <td><span class="btn btn-link" ng-click="deleteRole(role);"><i class="icon-remove"></i></span></td>
                <td><a class="btn" href="#users/roles/{{role.id}}">{{msg('common.edit')}}</a></td>
            </tr>
            </tbody>
        </table>
        <p class="text-center">
            <span class="text-info" ng-show="roles.length == 0">{{msg('roles.list.empty')}}<br /><br /></span>
            <a class="btn btn-primary" href="#/users/roles/new">{{msg('roles.list.add')}}</a>
        </p>
    </div>
</div>
