<div ng-init="$root.pageTitle = title"></div>

<div class="container-fluid">
    <h1 class="text-center">{{msg('dashboards.header')}}</h1>

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li ng-repeat="dashboard in dashboards" ng-class="{ active: $index == 0 }">
                <a data-tab-caption="{{dashboard.name}}" href="#tab_{{$index + 1}}" data-toggle="tab" ng-click="tabChanged(dashboard)">{{dashboard.name}}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="row text-center" ng-show="dashboard.name == 'Performance summary'">
                <div class="input-append input-prepend date" id="start-date" data-date="{{startDate}">
                    <span class="add-on text-success date-label">{{msg('dashboards.trends.from')}}:</span>
                    <input class="span2" size="16" type="text" value="{{startDate}}">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
                <div style="margin-left: 50px;" class="input-append input-prepend date" id="end-date" data-date="{{endDate}">
                    <span class="add-on text-success date-label">{{msg('dashboards.trends.to')}}:</span>
                    <input class="span2" size="16" type="text" value="{{endDate}}">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
                <div style="margin-left: 50px;" class="input-append input-prepend">
                    <span class="add-on text-success date-label">{{msg('dashboards.trends.frequency')}}:</span>
                    <select ng-model="frequencyId" ng-options="item.id as item.frequencyName for item in frequencies"/>
                </div>
                <div style="margin-left: 50px;" class="input-append input-prepend">
                    <span class="add-on text-success date-label">{{msg('dashboards.trends.area')}}:</span>
                    <select ng-model="areaId" ng-options="item.id as item.name for item in areas"/>
                </div>
                <span ng-click="analyze()" class="btn btn-warning" style="margin-left: 20px; margin-bottom: 10px;">{{msg('dashboards.trends.analyze')}}</span>
                <script>
                    $("#start-date").datepicker();
                    $("#end-date").datepicker();
                </script>
            </div>
            <div class="tab-pane" ng-repeat="dashboard in dashboards" id="tab_{{$index + 1}}" ng-class="{ active: $index == 0 }">
                <div class="row text-center" ng-show="dashboard.name == 'Performance summary'">
                    <table id="performanceHistory" class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>{{msg('dashboards.trends.indicator')}}</th>
                            <th>{{msg('dashboards.trends.calculation')}}</th>
                            <th>{{msg('dashboards.trends.trend')}}</th>
                        </tr>
                        </thead>
                        <tbody indicators-trend>
                        </tbody>
                    </table>
                </div>
                <div class="row" ng-show="reportRows.length > 0">
                    <div class="pagination text-center">
                        <ul>
                            <li><a ng-click="setPreviousPage()">Prev</a></li>
                            <li ng-repeat="i in getPageCount()" ng:class="{true:'active', false:''}[$index==currentReportsPage]"><a ng-click="setCurrentPage($index)">{{$index+1}}</a></li>
                            <li><a ng-click="setNextPage()">Next</a></li>
                        </ul>
                    </div>
                    <div style="overflow: auto;">
                        <table class="span8">
                            <tbody>
                                <tr ng-repeat="reportRow in reportRows">
                                    <td ng-repeat="report in reportRow" ng-show="report != undefined">
                                        <div ng-hide="report.computing || $index > 0" class="alert alert-info">
                                            {{msg('dashboards.charts.computed1')}} {{report.indicatorName}} {{msg('dashboards.charts.computed2')}}
                                        </div>
                                        <div ng-show="report.computing">
                                            <div>
                                                <div class="input-prepend input-append">
                                                    <span class="add-on text-success date-label label-fixed-width">{{msg('dashboards.trends.from')}}:</span>
                                                    <input type="date" ng-model="report.from" bs-datepicker ng-change="reportFromDateChanged(report)" />
                                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                                </div>
                                                <div class="input-prepend input-append">
                                                    <span class="add-on text-success date-label label-fixed-width">{{msg('dashboards.trends.to')}}:</span>
                                                    <input type="date" ng-model="report.to" bs-datepicker ng-change="reportToDateChanged(report)" />
                                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                                </div>
                                                <div class="input-prepend input-append">
                                                    <span class="add-on text-success date-label label-fixed-width">{{msg('dashboards.trends.frequency')}}:</span>
                                                    <select ng-model="report.frequencyId" ng-options="item.id as item.frequencyName for item in frequencies"/>
                                                </div>
                                                <div class="input-prepend input-append">
                                                    <span class="add-on text-success date-label label-fixed-width">{{msg('dashboards.trends.area')}}:</span>
                                                    <select ng-model="report.areaId" ng-options="item.id as item.name for item in report.areas"/>
                                                </div>
                                            </div>
                                            <p class="text-left">
                                                <div class="btn-group">
                                                    <button type="button" ng-click="exportToCsv(report)" class="btn btn-mini btn-primary chart-button" ng-show="report != undefined">{{msg('dashboards.charts.export')}}</button>
                                                    <button type="button" ng-click="exportCaseListReportToCsv(report)" class="btn btn-mini btn-primary chart-button" ng-show="report != undefined && report.canExportCaseListReport">{{msg('dashboards.charts.exportCaseListReport')}}</button>
                                                    <button type="button" ng-click="toggleChartDisplay(report)" class="btn btn-mini btn-primary chart-button" ng-show="report != undefined">{{report.displayType == 'chart' && msg('dashboards.charts.showData') || msg('dashboards.charts.showChart') }}</button>
                                                </div>
                                            </p>
                                            <div class="chart-container-wrapper">
                                                <div id="report_{{report.id}}" class="chart-container" indicator-chart value="{{report}}" ng-show="report.displayType == 'chart'"></div>
                                                <div class="chart-container" ng-show="report.displayType == 'table'">
                                                    <div class="row-fluid">
                                                        <table class="span11 table table-hover table-striped table-bordered centered" ng-show="report.chart.length > 0">
                                                            <thead>
                                                            <th>{{msg('dashboards.charts.details.table.header.date')}}</th>
                                                            <th>{{msg('dashboards.charts.details.table.header.value')}}</th>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="item in report.chart">
                                                                <td class="span8">{{formatDate(item.date)}}</td>
                                                                <td class="span4">{{item.value}}{{report.reportType.name == 'Pie Chart' && '%' || '' }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="chart-title pull-left">{{report.indicatorName}}</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination text-center">
                        <ul>
                            <li><a ng-click="setPreviousPage()">Prev</a></li>
                            <li ng-repeat="i in getPageCount()" ng:class="{true:'active', false:''}[$index==currentReportsPage]"><a ng-click="setCurrentPage($index)">{{$index+1}}</a></li>
                            <li><a ng-click="setNextPage()">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
