<div ng-init="$root.pageTitle = title"></div>

<div class="container-fluid">
    <h1 class="text-center">{{msg('dashboards.header')}}</h1>

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li ng-repeat="dashboard in dashboards" ng-class="{ active: $index == 0 }">
                <a data-tab-caption="{{dashboard.name}}" href="#tab_{{$index + 1}}" data-toggle="tab" ng-click="tabChanged(dashboard)">{{dashboard.name}}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="row text-center" ng-show="dashboard.name == 'Performance summary'">
                <div class="input-append input-prepend date" id="start-date" data-date="{{startDate}">
                    <span class="add-on text-success date-label">{{msg('dashboards.trends.from')}}:</span>
                    <input class="span2" size="16" type="text" value="{{startDate}}">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
                <div style="margin-left: 50px;" class="input-append input-prepend date" id="end-date" data-date="{{endDate}">
                    <span class="add-on text-success date-label">{{msg('dashboards.trends.to')}}:</span>
                    <input class="span2" size="16" type="text" value="{{endDate}}">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
                <div class="pull-right input-prepend">
                    <select class="pull-right" ng-model="areaId" required>
                        <option value="{{area.id}}" style="padding-left: {{(area.levelHierarchyDepth) * 15 + 5 }}px" ng-repeat="area in areas">{{area.name}}</option>
                    </select>
                    <span class="add-on text-success date-label">{{msg('dashboards.trends.area')}}:</span>
                </div>
                <span ng-click="analyze()" class="btn btn-warning" style="margin-left: 20px; margin-bottom: 10px;">{{msg('dashboards.trends.analyze')}}</span>
                <script>
                    $("#start-date").datepicker();
                    $("#end-date").datepicker();
                </script>
            </div>
            <div class="tab-pane" ng-repeat="dashboard in dashboards" id="tab_{{$index + 1}}" ng-class="{ active: $index == 0 }">
                <div class="row text-center" ng-show="dashboard.name == 'Performance summary'">
                    <table id="performanceHistory" class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>{{msg('dashboards.trends.indicator')}}</th>
                            <th>{{msg('dashboards.trends.trend')}}</th>
                        </tr>
                        </thead>
                        <tbody indicators-trend>
                        </tbody>
                    </table>
                </div>
                <div class="row" ng-show="reportRows.length > 0">
                    <div style="overflow: auto;">
                        <table class="span12">
                            <tbody>
                                <tr ng-repeat="reportRow in reportRows">
                                    <td class="span4" ng-repeat="report in reportRow">
                                        <div ng-show="report != undefined">
                                            <div class="input-prepend input-append">
                                                <span class="add-on text-success date-label label-fixed-width">{{msg('dashboards.trends.from')}}:</span>
                                                <input type="date" ng-model="report.from" bs-datepicker ng-change="reportFromDateChanged(report)" />
                                                <span class="add-on"><i class="icon-calendar"></i></span>
                                            </div>
                                            <div class="input-prepend input-append">
                                                <span class="add-on text-success date-label label-fixed-width">{{msg('dashboards.trends.to')}}:</span>
                                                <input type="date" ng-model="report.to" bs-datepicker ng-change="reportToDateChanged(report)" />
                                                <span class="add-on"><i class="icon-calendar"></i></span>
                                            </div>
                                            <div class="input-prepend input-append">
                                                <select class="pull-right" ng-model="report.frequencyId" ng-options="item.id as item.frequencyName for item in frequencies"/>
                                                <span class="add-on text-success date-label label-fixed-width">{{msg('dashboards.trends.frequency')}}:</span>
                                            </div>
                                            <div class="input-prepend input-append">
                                                <select class="pull-right" ng-model="report.areaId" ng-options="item.id as item.name for item in report.areas"/>
                                                <span class="add-on text-success date-label label-fixed-width">{{msg('dashboards.trends.area')}}:</span>
                                            </div>
                                        </div>
                                        <p class="text-left">
                                            <span ng-click="exportToCsv(report)" class="label label-info chart-button" ng-show="report != undefined">{{msg('dashboards.charts.export')}}</span>
                                            <span ng-click="toggleChartDisplay(report)" class="label label-info chart-button" ng-show="report != undefined">{{report.displayType == 'chart' && msg('dashboards.charts.showData') || msg('dashboards.charts.showChart') }}</span>
                                        </p>
                                        <div class="chart-container-wrapper">
                                            <div id="report_{{report.id}}" class="chart-container" indicator-chart value="{{report}}" ng-show="report.displayType == 'chart'"></div>
                                            <div class="chart-container" ng-show="report.displayType == 'table'">
                                                <div class="row-fluid">
                                                    <table class="span11 table table-hover table-striped table-bordered centered" ng-show="report.chart.length > 0">
                                                        <thead>
                                                        <th>{{msg('dashboards.charts.details.table.header.date')}}</th>
                                                        <th>{{msg('dashboards.charts.details.table.header.value')}}</th>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="item in report.chart">
                                                            <td class="span8">{{formatDate(item.date)}}</td>
                                                            <td class="span4">{{item.value}}%</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="chart-title">{{report.indicatorName}}</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{msg('common.tip')}}:</strong> {{msg('dashboards.charts.tip.zoom')}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
