<div ng-init="$root.pageTitle = title"></div>

<div class="container-fluid">
    <h1 class="text-center">{{msg('dashboards.header')}}</h1>

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li ng-repeat="dashboard in dashboards" ng-class="{ active: $index == 0 }">
                <a data-tab-caption="{{dashboard.name}}" href="#tab_{{$index + 1}}" data-toggle="tab" ng-click="tabChanged(dashboard)">{{dashboard.name}}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="row text-center" ng-show="dashboard.name == 'Performance summary'">
                <div class="input-append input-prepend date" id="start-date" data-date="{{startDate}">
                    <span class="add-on text-success date-label">{{msg('dashboards.trends.from')}}:</span>
                    <input class="span2" size="16" type="text" value="{{startDate}}">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
                <div style="margin-left: 50px;" class="input-append input-prepend date" id="end-date" data-date="{{endDate}">
                    <span class="add-on text-success date-label">{{msg('dashboards.trends.to')}}:</span>
                    <input class="span2" size="16" type="text" value="{{endDate}}">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
                <div style="margin-left: 50px;" class="input-append input-prepend">
                    <span class="add-on text-success date-label">{{msg('dashboards.trends.frequency')}}:</span>
                    <select ng-model="frequencyId" ng-options="item.id as item.frequencyName for item in frequencies"/>
                </div>
                <div style="margin-left: 50px;" class="input-append input-prepend">
                    <span class="add-on text-success date-label">{{msg('dashboards.trends.area')}}:</span>
                    <select ng-model="areaId" ng-options="item.id as item.name for item in areas"/>
                </div>
                <span ng-click="analyze()" class="btn btn-warning" style="margin-left: 20px; margin-bottom: 10px;">{{msg('dashboards.trends.analyze')}}</span>
                <script>
                    $("#start-date").datepicker();
                    $("#end-date").datepicker();
                </script>
            </div>
            <div id="mapReportWrapper" ng-show="dashboard.name == 'Map report'">
                <table>
                    <tr>
                        <td ng-repeat="map in maps">
                            <div>
                                <div class="row text-center">
                                    <div>
                                        <span class="input-append input-date">
                                            <input type="date" ng-model="map.startDate" data-date-format="mm/dd/yyyy" bs-datepicker />
                                            <span class="add-on"><i class="icon-calendar"></i></span>
                                        </span>
                                                <span>-</span>
                                        <span class="input-append input-date">
                                            <input type="date" ng-model="map.endDate" data-date-format="mm/dd/yyyy" bs-datepicker/>
                                            <span class="add-on"><i class="icon-calendar"></i></span>
                                        </span>
                                    </div>
                                    <div>
                                        <div class="input-append">
                                            <select ng-model="map.frequencyId" ng-options="item.id as item.frequencyName for item in frequencies"/>
                                            <span class="add-on"><i class="icon-time"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-prepend">
                                    <span class="add-on text-success">{{msg('dashboards.map.category')}}:</span>
                                    <select ng-model="map.selectedIndicatorCategoryId" class="span6">
                                        <option value="{{category.id}}" ng-selected="$index == 0" ng-repeat="category in mapCategories">{{category.name}}</option>
                                    </select>
                                </div>
                                <div class="input-prepend">
                                    <span class="add-on text-success">{{msg('dashboards.map.indicator')}}:</span>
                                    <select ng-model="map.selectedIndicatorId" class="span6">
                                        <option value="{{indicator.id}}" ng-selected="$index == 0" ng-repeat="indicator in map.selectedCategoryIndicators | withTrend">{{indicator.name}}</option>
                                    </select>
                                </div>
                                <p class="text-center"><span ng-click="analyzeMap(map)" class="btn btn-warning" style="margin-left: 20px; margin-bottom: 10px;">{{msg('dashboards.trends.analyze')}}</span></p>
                                <div id="{{'mapReport' + $index}}" class="map-report">
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="row" style="margin-bottom: 100px; margin-top: 20px;">
                    <table class="offset1">
                        <tr>
                            <td class="legend-color legend-positive">&nbsp;</td>
                            <td>{{msg('dashboards.map.legend.positiveTrend')}}</td>
                        </tr>
                        <tr>
                            <td class="legend-color legend-negative">&nbsp;</td>
                            <td>{{msg('dashboards.map.legend.negativeTrend')}}</td>
                        </tr>
                        <tr>
                            <td class="legend-color legend-neutral">&nbsp;</td>
                            <td>{{msg('dashboards.map.legend.neutralTrend')}}</td>
                        </tr>
                        <tr>
                            <td class="legend-color legend-no-data">&nbsp;</td>
                            <td>{{msg('dashboards.map.legend.noData')}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="tab-pane" ng-repeat="dashboard in dashboards" id="tab_{{$index + 1}}" ng-class="{ active: $index == 0 }">
                <div class="row text-center" ng-show="dashboard.name == 'Performance summary'">
                    <div style="margin: auto; width: 256px; margin-top: 60px;" ng-show="loading == true">
                        <p class="text-center">{{msg('dashboards.trends.loading')}}</p>
                    </div>
                    <table id="performanceHistory" ng-show="loading == false" class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>{{msg('dashboards.trends.indicator')}}</th>
                            <th>{{msg('dashboards.trends.calculation')}}</th>
                            <th>{{msg('dashboards.trends.trend')}}</th>
                        </tr>
                        </thead>
                        <tbody indicators-trend>
                        </tbody>
                    </table>
                </div>
                <div class="row" ng-show="dashboard.name != 'Performance summary' && dashboard.name != 'Map report'">
                    <div class="pagination text-center">
                        <ul>
                            <li><a ng-click="setPreviousPage()">Prev</a></li>
                            <li ng-repeat="i in getPages()" ng:class="{true:'active', false:''}[$index==currentReportsPage]"><a ng-click="setCurrentPage($index)">{{$index+1}}</a></li>
                            <li><a ng-click="setNextPage()">Next</a></li>
                        </ul>
                    </div>
                    <div style="margin: auto; width: 256px;" ng-show="loading == true">
                        <p class="text-center">{{msg('dashboards.charts.loading')}}</p>
                    </div>
                    <div class="indicator-columns-wrapper" ng-show="loading == false">
                        <div class="indicator-column" ng-repeat="reportRow in reportRows">
                            <div>
                                <p class="text-center indicator-title">{{reportRow[0].indicatorName}}</p>
                                <div class="indicator-cell" ng-repeat="report in reportRow">
                                    <div class="indicator-cell-header">
                                        <div>
                                            <span class="input-append input-date">
                                                <input type="date" ng-disabled="!report.computing" ng-model="report.from" bs-datepicker ng-change="reportFromDateChanged(report)" />
                                                <span class="add-on"><i class="icon-calendar"></i></span>
                                            </span>
                                            <span>-</span>
                                            <span class="input-append input-date">
                                                <input type="date" ng-disabled="!report.computing" ng-model="report.to" bs-datepicker ng-change="reportToDateChanged(report)" />
                                                <span class="add-on"><i class="icon-calendar"></i></span>
                                            </span>
                                        </div>
                                        <div>
                                            <div class="input-append">
                                                <select ng-disabled="!report.computing" ng-model="report.areaId" ng-options="item.id as item.name for item in report.areas"/>
                                                <span class="add-on"><i class="icon-globe"></i></span>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="input-append">
                                                <select ng-disabled="!report.computing" ng-model="report.frequencyId" ng-options="item.id as item.frequencyName for item in frequencies"/>
                                                <span class="add-on"><i class="icon-time"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chart-container-wrapper">
                                        <div id="report_{{report.id}}" class="chart-container" indicator-chart value="{{report}}" ng-show="report.displayType == 'chart'"></div>
                                        <div class="chart-container" ng-show="report.displayType == 'table'">
                                            <div class="row-fluid">
                                                <table class="span11 table table-hover table-striped table-bordered centered" ng-show="report.chart.length > 0">
                                                    <thead>
                                                    <th>{{msg('dashboards.charts.details.table.header.date')}}</th>
                                                    <th>{{msg('dashboards.charts.details.table.header.value')}}</th>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="item in report.chart">
                                                        <td class="span8">{{formatDate(item.date)}}</td>
                                                        <td class="span4">{{item.value}}{{report.reportType.name == 'Pie Chart' && '%' || '' }}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="indicator-btn-group">
                                        <div class="btn-group">
                                            <button type="button" ng-disabled="!report.computing" ng-click="exportToCsv(report)" class="btn btn-mini btn-primary chart-button" ng-show="report != undefined">{{msg('dashboards.charts.export')}}</button>
                                            <button type="button" ng-disabled="!report.computing" ng-click="exportCaseListReportToCsv(report)" class="btn btn-mini btn-primary chart-button" ng-show="report != undefined && report.canExportCaseListReport">{{msg('dashboards.charts.exportCaseListReport')}}</button>
                                            <button type="button" ng-disabled="!report.computing" ng-click="toggleChartDisplay(report)" class="btn btn-mini btn-primary chart-button" ng-show="report != undefined">{{report.displayType == 'chart' && msg('dashboards.charts.showData') || msg('dashboards.charts.showChart') }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination text-center">
                        <ul>
                            <li><a ng-click="setPreviousPage()">Prev</a></li>
                            <li ng-repeat="i in getPages()" ng:class="{true:'active', false:''}[$index==currentReportsPage]"><a ng-click="setCurrentPage($index)">{{$index+1}}</a></li>
                            <li><a ng-click="setNextPage()">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
