<div ng:init="$root.pageTitle = title"></div>

<div class="container">
    <h1 class="text-center">{{msg('languages.list.header')}}</h1>
    <div class="row">
        <div class="span8 offset2">
            <div class="form-horizontal well well-large">
                <div class="control-group">
                    <label class="control-label" for="newLanguage">{{msg('common.define')}}</label>
                    <div class="controls">
                        <select id="newLanguage" ng-model="selectedUndefinedLanguage" ng-options="item.code as item.name for item in listUndefinedLanguages"></select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="definedLanguage">{{msg('common.using')}}</label>
                    <div class="controls">
                        <select id="definedLanguage" ng-model="selectedDefinedLanguage" ng-options="item.code as item.name for item in listDefinedLanguages"></select>
                        <span>{{msg('common.asTemplate')}}</span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-primary" ng-click="defineLanguage()">{{msg('common.ok')}}</button>
                    </div>
                </div>
            </div>
            <table class="table table-hover table-striped">
                <thead>
                    <th class="span2">{{msg('languages.list.code')}}</th>
                    <th class="span6">{{msg('languages.list.name')}}</th>
                    <th class="span4">{{msg('common.actions')}}</th>
                </thead>
                <tbody>
                    <tr ng-repeat="item in listDefinedLanguages | orderBy:'item.name'">
                        <td>
                            <span class="text-error" ng-show="item.code == null">{{msg('common.none')}}</span>
                            <span ng-show="item.code != null">{{item.code}}</span>
                        </td>
                        <td ng-class="{ muted: item.code == null }">{{item.name}}</td>
                        <td>
                            <button class="btn" ng-click="editLanguage(item)" ng-hide="!item.code">{{msg('common.edit')}}</button>
                            <button class="btn btn-danger pull-right" ng-click="removeLanguage(item)" ng-hide="!item.code">{{msg('common.remove')}}</button>
                            <span class="text-error" ng-show="!item.code">{{msg('languages.list.cannotModify')}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
