<h1 class="text-center">{{msg('forms.list.header')}}</h1>
<div class="span8 offset2 well">
    <table class="table table-hover" ng-show="forms.length > 0">
        <thead>
        <tr>
            <th>{{msg('forms.list.displayName')}}</th>
            <th>{{msg('forms.list.tableName')}}</th>
            <th>{{msg('forms.list.actions')}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="form in forms">
            <td><a href="#/forms/{{form.id}}">{{form.displayName}}</a></td>
            <td>{{form.tableName}}</td>
            <td><span class="btn btn-link" ng-click="deleteForm(form);"><i class="icon-remove"></i></span></td>
        </tr>
        </tbody>
    </table>
    <p class="text-center">
        <span class="text-info" ng-show="forms.length == 0">{{msg('forms.list.empty')}}<br /><br /></span>
        <a class="btn btn-primary" href="#/forms/new">{{msg('forms.list.addNewForm')}}</a>
    </p>
</div>
