<div ng:init="$root.pageTitle = title"></div>

<div class="container">
    <div class="well span7 offset2">
        <h1 class="text-center">{{msg('categories.list.header')}}</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{msg('categories.list.shortCode')}}</th>
                    <th>{{msg('categories.list.name')}}</th>
                    <th>{{msg('categories.list.remove')}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cat in category">
                    <td><a href="#/categories/{{cat.id}}">{{cat.shortCode}}</a></td>
                    <td><a href="#/categories/{{cat.id}}">{{cat.name}}</a></td>
                    <td><span class="btn btn-link"
                        ng-click="deleteCategory(cat);"><i
                            class="icon-remove"></i></span></td>
                </tr>
            </tbody>
        </table>
        <p class="text-center">
            <span class="text-info" ng-show="category.length == 0">{{msg('categories.list.empty')}}<br /> <br />
            </span>
        </p>
    </div>
</div>
