<form id="defineFrequencyForm" name="defineForm" novalidate ng-controller="calculatorController">
    <div class="modal-header">
        <h3>{{msg('indicatorCalculator.calculationTime.header')}}</h3>
    </div>
    <div class="modal-body time-dialog">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="control-group input-append">
                    <label for="startTime">{{msg('indicatorCalculator.calculationTime.label.time')}}:</label>
                    <input id="startTime" type="text" data-template="dropdown" data-minute-step="1" data-show-meridian="false" ng-model="time" bs-timepicker>
                    <button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="saveTime()">{{msg('common.save')}}</button>
        <button class="btn" ng-click="dismiss()">{{msg('common.cancel')}}</button>
    </div>
</form>