<div ng:init="$root.pageTitle = title"></div>

<h1 class="text-center">{{msg('indicators.form.header')}}</h1>
<div class="container">
    <form id="indicatorForm" name="form" novalidate>
        <div class="row-fluid">
            <div class="span6 well">
                <div class="nested-well">
                    <fieldset>
                        <legend>{{msg('indicators.form.defineOwner')}}:</legend>
                        <div class="scroll">
                            <ul class="unstyled">
                                <li ng-repeat="item in users">
                                    <input id="indicatorOwner_{{item.id}}" type="checkbox" ng-model="selectedOwners[item.id]" value="{{item.id}}" ng-click="validateOwners()" />
                                    <label class="inline" for="indicatorOwner_{{item.id}}">{{item.firstName}} {{item.lastName}}</label>
                                </li>
                            </ul>
                        </div>
                    </fieldset>
                </div>
                <div class="nested-well">
                    <fieldset>
                        <legend>{{msg('indicators.form.defineFrequency')}}:</legend>
                        <div class="scroll">
                            <ul class="unstyled">
                                <li ng-repeat="item in listFrequencies">
                                    <input id="indicatorFrequency_{{item.value}}" type="radio" ng-model="indicator.frequency" value="{{item.value}}" />
                                    <label class="inline" for="indicatorFrequency_{{item.value}}">{{item.name}}</label>
                                </li>
                            </ul>
                        </div>
                    </fieldset>
                </div>
                <div class="nested-well">
                    <fieldset>
                        <legend>{{msg('indicators.form.defineArea')}}:</legend>
                        <div id="defineArea">
                            <ul class="unstyled">
                                <li>
                                    <label class="span3 text-right" for="area_state">{{msg('indicators.form.selectState')}}: </label>
                                    <select class="span9" id="area_state" ng-model="selectedState" ng-options="item.id as item.name for item in listState" class="input-block-level" required></select>
                                </li>
                                <li ng-show="showDistrict">
                                    <label class="span3 text-right" for="area_district">{{msg('indicators.form.selectDistrict')}}: </label>
                                    <select class="span9" id="area_district" ng-model="selectedDistrict" ng-options="item.id as item.name for item in listDistrict" class="input-block-level"></select>
                                </li>
                                <li ng-show="showBlock">
                                    <label class="span3 text-right" for="area_block">{{msg('indicators.form.selectBlock')}}: </label>
                                    <select class="span9" id="area_block" ng-model="selectedBlock" ng-options="item.id as item.name for item in listBlock" class="input-block-level"></select>
                                </li>
                                <li ng-show="showHSC">
                                    <label class="span3 text-right" for="area_HSC">{{msg('indicators.form.selectHSC')}}: </label>
                                    <select class="span9" id="area_HSC" ng-model="selectedHSC" ng-options="item.id as item.name for item in listHSC" class="input-block-level"></select>
                                </li>
                                <li ng-show="showAWC">
                                    <label class="span3 text-right" for="area_AWC">{{msg('indicators.form.selectAWC')}}: </label>
                                    <select class="span9" id="area_AWC" ng-model="selectedAWC" ng-options="item.id as item.name for item in listAWC" class="input-block-level"></select>
                                </li>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="span6 well">
                <label for="name">{{msg('indicators.form.name.label')}}: </label>
                <input id="name" type="text" ng-model="indicator.name" class="input-block-level" placeholder="{{msg('indicators.form.name.placeholder')}}" required />
                <label for="indicatorType">{{msg('indicators.form.definedAs')}}: </label>
                <select id="indicatorType" ng-model="indicator.indicatorType" ng-options="item.id as item.name for (key, item) in listIndicatorTypes | orderBy:'name'" class="input-block-level"></select>
                <label for="form">{{msg('indicators.form.selectForm')}}: </label>
                <select id="form" ng-model="selectedForm" ng-options="item.id as item.displayName for (key, item) in listForms | orderBy:'displayName'" class="input-block-level" required></select>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th colspan="2">{{msg('indicators.form.categories.label')}}:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key, item) in categories">
                        <td class="span9">
                            <span>{{item.name}}</span>
                        </td>
                        <td class="span3">
                            <button class="span12 btn" ng-click="removeCategory(key)">{{msg('remove')}}</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <label for="category">{{msg('indicators.form.classifiedAs')}}: </label>
                <select id="category" ng-model="selectedCategory" ng-options="key as item.name for (key, item) in listCategories | orderBy:'name'" class="input-block-level"></select>
                <div class="text-right">
                    <button class="btn" ng-click="addCategory()" ng-disabled="addCategoryDisabled">{{msg('indicators.form.addCategory')}}</button>
                </div>
                <hr class="btn-info" />
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">{{msg('indicators.form.complexConditions.label')}}:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, item) in complexConditions">
                            <td class="span9">
                                <span>{{item.id}}</span>
                            </td>
                            <td class="span3">
                                <button class="span12 btn" ng-click="removeComplexCondition(key)">{{msg('remove')}}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <label for="complexConditionsAdd">{{msg('indicators.form.complexConditions.list.label')}}:</label>
                <select id="complexConditionsAdd" ng-model="selectedComplexCondition" ng-options="key as item.id for (key, item) in listComplexConditions" class="input-block-level"></select>
                <div class="btn-group pull-right">
                    <button class="btn" ng-click="launchDialog()">{{msg('indicators.form.createNewComplexCondition')}}</button>
                    <button class="btn" ng-click="launchComputedFieldDialog()">{{msg('indicators.form.createNewComputedField')}}</button>
                    <button class="btn" ng-click="addComplexCondition()" ng-disabled="addDimensionDisabled">{{msg('indicators.form.addDimension')}}</button>
                    <button class="btn btn-primary" ng-click="submit()" ng-disabled="form.$invalid || !ownersValid || !categoriesValid || !conditionsValid || !typeValid">{{msg('save')}}</button>
                </div>
            </div>
        </div>
    </form>
</div>
