<div ng:init="$root.pageTitle = title"></div>

<h1 class="text-center">{{msg('indicators.form.header')}}</h1>
<div class="container">
    <form id="indicatorForm" name="form" novalidate>
        <div class="row-fluid">
            <div class="span6 well">
                <div class="nested-well">
                    <fieldset>
                        <legend>{{msg('indicators.form.defineOwner')}}:</legend>
                        <div class="scroll">
                            <ul class="unstyled">
                                <li ng-repeat="item in users">
                                    <input id="indicatorOwner_{{item.id}}" type="checkbox" ng-model="selectedOwners[item.id]" value="{{item.id}}" ng-click="validateOwners()" />
                                    <label class="inline" for="indicatorOwner_{{item.id}}">{{item.firstName}} {{item.lastName}}</label>
                                </li>
                            </ul>
                        </div>
                    </fieldset>
                </div>
                <div class="nested-well">
                    <fieldset>
                        <legend>{{msg('indicators.form.defineFrequency')}}:</legend>
                        <div class="scroll">
                            <ul class="unstyled">
                                <li ng-repeat="item in listFrequencies">
                                    <input id="indicatorFrequency_{{item.value}}" type="radio" ng-model="indicator.frequency" value="{{item.value}}" />
                                    <label class="inline" for="indicatorFrequency_{{item.value}}">{{item.name}}</label>
                                </li>
                            </ul>
                        </div>
                    </fieldset>
                </div>
                <div class="nested-well">
                    <fieldset>
                        <legend>{{msg('indicators.form.defineArea')}}:</legend>
                        <div id="defineArea">
                            <ul class="unstyled">
                                <li>
                                    <label class="span3 text-right" for="area_state">{{msg('indicators.form.selectState')}}: </label>
                                    <select class="span9" id="area_state" ng-model="selectedState" ng-options="item.id as item.name for item in listState" class="input-block-level" required></select>
                                </li>
                                <li ng-show="showDistrict">
                                    <label class="span3 text-right" for="area_district">{{msg('indicators.form.selectDistrict')}}: </label>
                                    <select class="span9" id="area_district" ng-model="selectedDistrict" ng-options="item.id as item.name for item in listDistrict" class="input-block-level"></select>
                                </li>
                                <li ng-show="showBlock">
                                    <label class="span3 text-right" for="area_block">{{msg('indicators.form.selectBlock')}}: </label>
                                    <select class="span9" id="area_block" ng-model="selectedBlock" ng-options="item.id as item.name for item in listBlock" class="input-block-level"></select>
                                </li>
                                <li ng-show="showHSC">
                                    <label class="span3 text-right" for="area_HSC">{{msg('indicators.form.selectHSC')}}: </label>
                                    <select class="span9" id="area_HSC" ng-model="selectedHSC" ng-options="item.id as item.name for item in listHSC" class="input-block-level"></select>
                                </li>
                                <li ng-show="showAWC">
                                    <label class="span3 text-right" for="area_AWC">{{msg('indicators.form.selectAWC')}}: </label>
                                    <select class="span9" id="area_AWC" ng-model="selectedAWC" ng-options="item.id as item.name for item in listAWC" class="input-block-level"></select>
                                </li>
                            </ul>
                        </div>
                    </fieldset>
                </div>
                <div class="nested-well">
                    <fieldset>
                        <legend>{{msg('indicators.form.defineReportTypes')}}:</legend>
                        <div id="defineReportTypes">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th colspan="2">{{msg('indicators.form.label.selectedReportTypes')}}:</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="(key, item) in reportTypes">
                                    <td class="span9">
                                        <span>{{item.name}}</span>
                                    </td>
                                    <td class="span3">
                                        <button class="span12 btn" ng-click="removeReportType(key)">{{msg('remove')}}</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <label for="reportType">{{msg('indicators.form.label.reportType')}}: </label>
                            <select id="reportType" ng-model="selectedReportType" ng-options="key as item.name for (key, item) in listReportTypes" class="input-block-level"></select>
                            <div class="text-right">
                                <button class="btn" ng-click="addReportType()" ng-disabled="listReportTypes.length <= 0">{{msg('indicators.form.addReportType')}}</button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="span6 well">
                <div class="nested-well">
                    <legend>{{msg('indicators.form.defineIndicatorDescription')}}:</legend>
                    <label for="name">{{msg('indicators.form.name.label')}}: </label>
                    <input id="name" type="text" ng-model="indicator.name" class="input-block-level" placeholder="{{msg('indicators.form.name.placeholder')}}" required />
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th colspan="2">{{msg('indicators.form.categories.label')}}:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key, item) in categories">
                            <td class="span9">
                                <span>{{item.name}}</span>
                            </td>
                            <td class="span3">
                                <button class="span12 btn" ng-click="removeCategory(key)">{{msg('remove')}}</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <label for="category">{{msg('indicators.form.classifiedAs')}}: </label>
                    <select id="category" ng-model="selectedCategory" ng-options="key as item.name for (key, item) in listCategories" class="input-block-level"></select>
                    <div class="text-right">
                        <button class="btn" ng-click="addCategory()" ng-disabled="listCategories.length <= 0">{{msg('indicators.form.addCategory')}}</button>
                    </div>
                </div>
                <div class="nested-well">
                    <legend>{{msg('indicators.form.defineDataForIndicator')}}:</legend>
                    <label for="indicatorType">{{msg('indicators.form.aggregationType')}}: </label>
                    <select id="indicatorType" ng-model="indicator.indicatorType" ng-options="item.id as item.name for (key, item) in listIndicatorTypes | orderBy:'name'" class="input-block-level"></select>
                    <label for="form">{{msg('indicators.form.selectForm')}}: </label>
                    <select id="form" ng-model="selectedForm" ng-options="item.id as item.displayName for item in listForms" class="input-block-level" required></select>
                    <label for="computedField">{{msg('indicators.form.label.aggregatedField')}}:</label>
                    <select id="computedField" ng-model="indicator.computedField" ng-options="item.id as item.name for (key, item) in listComputedFields" class="input-block-level" required></select>
                    <label for="complexCondition">{{msg('indicators.form.label.complexCondition')}}:</label>
                    <select id="complexCondition" ng-model="indicator.complexCondition" ng-options="item.id as item.name for item in listComplexConditions" class="input-block-level"></select>
                </div>
				<div class="nested-well">
                    <fieldset>
                        <legend>{{msg('indicators.form.trend')}}:</legend>
                        <label for="trendPositive"><i class="icon-arrow-up"></i> {{msg('indicators.form.trendPositive.label')}}: </label>
                        <input id="trendPositive" pattern="-?[0-9]+(.[0-9]+)?" type="text" ng-model="indicator.trend.positiveDiff" class="input-block-level" placeholder="{{msg('indicators.form.trendPositive.placeholder')}}" required />
                        <label for="trendNegative"><i class="icon-arrow-down"></i> {{msg('indicators.form.trendNegative.label')}}: </label>
                        <input id="trendNegative" pattern="-?[0-9]+(.[0-9]+)?" type="text" ng-model="indicator.trend.negativeDiff" class="input-block-level" placeholder="{{msg('indicators.form.trendNegative.placeholder')}}" required />
                        <p class="text-info text-center"><span class="label label-info">?</span> Trend will remain neutral if change won't be significant enough.</p>
                    </fieldset>
                </div>
                <div class="row-fluid" id="formButtons">
                    <div class="btn-group">
                        <button class="btn pull-left" ng-click="launchDialog()" ng-disabled="listForms.length <= 0">{{msg('indicators.form.createNewComplexCondition')}}</button>
                        <button class="btn" ng-click="launchComputedFieldDialog()">{{msg('indicators.form.createNewComputedField')}}</button>
                    </div>
                    <button class="btn btn-primary pull-right" ng-click="submit()" ng-disabled="form.$invalid || !ownersValid || !categoriesValid || !typeValid || reportTypes.length <= 0">{{msg('save')}}</button>
                </div>
            </div>
        </div>
    </form>
</div>
