<div ng:init="$root.pageTitle = title"></div>

<div class="container">
    <h1 class="text-center">{{msg('indicators.list.header')}}</h1>
    <div class="span8 offset2 well">
        <div>
            <b>{{msg('indicators.list.chooseCategory')}}</b>
            <select id="tableName" ng-model="selectedCategory" ng-options="cat.id as cat.name for cat in category" />
        </div>
        <table class="table table-hover" ng-show="indicators.length > 0">
            <thead>
                <tr>
                    <th>{{msg('indicators.list.displayName')}}</th>
                    <th>{{msg('common.actions')}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in indicators | orderBy:'+name'">
                    <td>{{item.name}}</td>
                    <td><span class="btn btn-link" ng-click="deleteIndicator(item)"><i class="icon-remove"></i></span></td>
                </tr>
            </tbody>
        </table>
        <br ng-show="indicators.length == 0"/>
        <h4><p class="text-info text-center " ng-show="indicators.length == 0">{{msg('indicators.list.empty')}}<br/><br/></p></h4>
    </div>
</div>
<p class="text-center">

    <button class="btn btn-primary" ng-click="recalculate()" ng-disabled="isAnyComputed()">{{msg('indicators.list.recalculate')}}</button>
    <a class="btn btn-primary" href="#/indicator/upload-xml">{{msg('indicators.list.addNew')}}</a>
</p>