<div ng:init="$root.pageTitle = title"></div>
<div class="row-fluid">
    <div ng-include src='"resources/partials/indicators/sidebar.html"'></div>
    <div class="span10 hq-content">
        <div>
            <b>{{msg('indicators.list.chooseClassification')}}</b>
            <select id="tableName" ng-model="selectedClassification" ng-options="cat.id as cat.name for cat in classification"></select>
        </div>
        <table class="table table-hover" ng-show="indicators.length > 0">
            <thead>
                <tr>
                    <th>{{msg('indicators.list.displayName')}}</th>
                    <th>{{msg('common.actions')}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in indicators | orderBy:'+name'">
                    <td>{{item.name}}</td>
                    <td>
                        <span ng-show="hasRole('CAN_EDIT_INDICATORS')" class="btn btn-link" ng-click="recalculateSingleIndicator(item)"><i class="icon-refresh" ng-show="item.isComputed == true"></i></span>
                        <span ng-show="hasRole('CAN_REMOVE_INDICATORS')" class="btn btn-link" ng-click="deleteIndicator(item)"><i class="icon-remove" ng-show="item.isComputed == true"></i></span>
                        <span ng-show="item.isComputed == false" class="text-error">{{msg('dashboards.trends.progress')}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <br ng-show="indicators.length == 0"/>
        <h4><p class="text-info text-center " ng-show="indicators.length == 0">{{msg('indicators.list.empty')}}<br/><br/></p></h4>
        <p class="text-center">
            <button class="btn btn-primary" ng-click="recalculate()" ng-disabled="isAnyComputed()">{{msg('indicators.list.recalculate')}}</button>
            <a ng-show="hasRole('CAN_CREATE_INDICATORS')" class="btn btn-primary" href="#/indicators/upload-xml">{{msg('indicators.list.addNew')}}</a>
        </p>
    </div>
</div>