<div class="sidebar span2">
    <nav>
        <ul class="nav nav-list" ng-show="hasRole('CAN_CREATE_INDICATORS')">
            <li class="nav-header">{{msg('menu.indicators.title')}}</li>
            <li ng-class="{active: getLocation() == '#/indicators'}"><a href="#/indicators"><i class="icon-list"></i> {{msg('indicators.list.header')}}</a></li>
            <li ng-class="{active: getLocation() == '#/indicators/upload-xml'}"><a href="#/indicators/upload-xml"><i class="icon-upload"></i> {{msg('menu.indicators.uploadXml')}}</a></li>
            <li ng-class="{active: getLocation() == '#/indicators/new'}"><a href="#/indicators/new"><i class="icon-plus-sign"></i> {{msg('menu.indicators.define')}}</a></li>
        </ul>
        <ul class="nav nav-list" ng-show="hasRole('CAN_CREATE_INDICATORS')">
            <li class="nav-header">{{msg('menu.queries.title')}}</li>
            <li ng-class="{active: getLocation() == '#/indicators/queries'}"><a href="#/indicators/queries"><i class="icon-list"></i> {{msg('menu.queries.list')}}</a></li>
            <li ng-class="{active: getLocation() == '#/indicators/queries/new'}"><a href="#/indicators/queries/new"><i class="icon-plus-sign"></i> {{msg('menu.queries.add')}}</a></li>
        </ul>
        <ul class="nav nav-list" ng-show="hasRole('CAN_EDIT_CALCULATION')">
            <li class="nav-header">{{msg('menu.calculator.title')}}</li>
            <li ng-class="{active: getLocation() == '#/indicators/calculation-time'}"><a href="#/indicators/calculation-time"><i class="icon-time"></i> {{msg('menu.calculator.frequency')}}</a></li>
            <li ng-class="{active: getLocation() == '#/indicators/date-depth'}"><a href="#/indicators/date-depth"><i class="icon-calendar"></i> {{msg('menu.calculator.dateDepth')}}</a></li>
        </ul>
        <ul class="nav nav-list" ng-show="hasRole('CAN_CREATE_CLASSIFICATIONS')">
            <li class="nav-header">{{msg('menu.classifications.title')}}</li>
            <li ng-class="{active: getLocation() == '#/indicators/classifications'}"><a href="#/indicators/classifications"><i class="icon-list"></i> {{msg('menu.classifications.list')}}</a></li>
            <li ng-class="{active: getLocation() == '#/indicators/classifications/new'}"><a href="#/indicators/classifications/new"><i class="icon-plus-sign"></i> {{msg('menu.classifications.add')}}</a></li>
        </ul>
    </nav>
</div>
