<div ng:init="$root.pageTitle = title"></div>

<div class="well span6 offset3">
    <h1 class="text-center">{{msg('category.categories')}}</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{msg('category.name')}}</th>
                <th>{{msg('category.remove')}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="cat in category">
                <td><a href="#/categories/{{cat.id}}">{{cat.name}}</a></td>
                <td><span class="btn btn-link"
                    ng-click="deleteCategory(cat);"><i
                        class="icon-remove"></i></span></td>
            </tr>
        </tbody>
    </table>
    <p class="text-center">
        <span class="text-info" ng-show="category.length == 0">{{msg('category.empty')}}<br /> <br />
        </span>
    </p>
</div>
