<div ng:init="$root.pageTitle = title"></div>
        
<h1 class="text-center">{{msg('dashboard.header')}}</h1>

<select class="pull-right" ng-model="areaId">
    <option value="{{area.id}}" style="padding-left: {{area.levelHierarchyDepth*15 + 5}}px" ng-selected="$index == 0" ng-repeat="area in areas">{{area.name}}</option>
</select>
<tabset>
    <tab select="tabChanged(dashboard)" ng-repeat="dashboard in dashboards" heading="{{dashboard.name}}" active="dashboard.active">
        <div id="tab{{dashboard.id}}">
        </div>
        <table id="performanceHistory" class="table table-bordered table-striped table-hover" ng-show="dashboard.name == 'Performance summary'">
            <thead>
                <tr>
                    <th>{{msg('trends.indicator')}}</th>
                    <th>{{msg('trends.trend')}}</th>
                </tr>
            </thead>
            <tbody indicators-trend>
            </tbody>
        </table>
    </tab>
</tabset>