<div ng:init="$root.pageTitle = title"></div>
        
<h1 class="text-center">{{msg('dashboard.header')}}</h1>

<tabset>
    <tab ng-repeat="dashboard in dashboards" heading="{{dashboard.name}}" active="dashboard.active">
    </tab>
</tabset>
<table>
    <tr>
        <td>
            <div flotr-chart data-indicator-id="2" data-chart-type="pie"></div>
        </td>
        <td>
            <div flotr-chart data-indicator-id="2" data-chart-type="line"></div>
        </td>
        <td>
            <div flotr-chart data-indicator-id="2" data-chart-type="bar"></div>
        </td>
    </tr>
</table>