<div ng:init="$root.pageTitle = title"></div>
        
<h1 class="text-center">{{msg('dashboard.header')}}</h1>

<select class="pull-right" ng-model="areaId" ng-hide="dashboard.name == 'Performance summary'">
    <option value="{{area.id}}" style="padding-left: {{area.levelHierarchyDepth*15 + 5}}px" ng-selected="$index == 0" ng-repeat="area in areas">{{area.name}}</option>
</select>
<tabset>
    <tab select="tabChanged(dashboard)" ng-repeat="dashboard in dashboards" heading="{{dashboard.name}}" active="dashboard.active">
        <div id="tab{{dashboard.id}}">
        </div>
        <div class="text-center" ng-show="dashboard.name == 'Performance summary'">
            <div class="input-append input-prepend date" id="start-date" data-date="{{startDate}" data-date-format="dd-mm-yyyy">
                <span class="add-on text-success date-label">{{msg('trends.from')}}:</span>
                <input class="span2" size="16" type="text" value="{{startDate}}">
                <span class="add-on"><i class="icon-calendar"></i></span>
            </div>
            <div style="margin-left: 50px;" class="input-append input-prepend date" id="end-date" data-date="{{endDate}" data-date-format="dd-mm-yyyy">
                <span class="add-on text-success date-label">{{msg('trends.to')}}:</span>
                <input class="span2" size="16" type="text" value="{{endDate}}">
                <span class="add-on"><i class="icon-calendar"></i></span>
            </div>
            <span ng-click="analyze()" class="btn btn-warning" style="margin-left: 20px; margin-bottom: 10px;">{{msg('trends.analyze')}}</span>
            <script>
                $("#start-date").datepicker();
                $("#end-date").datepicker();
            </script>
            <table id="performanceHistory" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>{{msg('trends.indicator')}}</th>
                        <th>{{msg('trends.trend')}}</th>
                    </tr>
                </thead>
                <tbody indicators-trend>
                </tbody>
            </table>
        </div>
    </tab>
</tabset>