<div ng:init="$root.pageTitle = title"></div>

<h1 class="text-center">{{msg('indicators.form.header')}}</h1>
<div class="container">
    <form id="indicatorForm" name="form" novalidate>
        <div class="row-fluid">
            <div class="span6 well">
                <div class="nested-well">
                    <fieldset>
                        <legend>{{msg('indicators.form.defineOwner')}}:</legend>
                        <div class="scroll">
                            <ul class="unstyled">
                                <li ng-repeat="item in users">
                                    <input id="indicatorOwner_{{item.id}}" type="checkbox" ng-model="selectedOwners[item.id]" value="{{item.id}}" ng-click="validateOwners()" />
                                    <label class="inline" for="indicatorOwner_{{item.id}}">{{item.username}}</label>
                                </li>
                            </ul>
                        </div>
                    </fieldset>
                </div>
                <div class="nested-well">
                    <fieldset>
                        <legend>{{msg('indicators.form.defineFrequency')}}:</legend>
                        <div class="scroll">
                            <ul class="unstyled">
                                <li ng-repeat="item in listFrequencies">
                                    <input id="indicatorFrequency_{{item.value}}" type="radio" ng-model="indicator.frequency" value="{{item.value}}" />
                                    <label class="inline" for="indicatorFrequency_{{item.value}}">{{item.name}}</label>
                                </li>
                            </ul>
                        </div>
                    </fieldset>
                </div>
                <div class="nested-well">
                    <fieldset>
                        <legend>{{msg('indicators.form.defineLevel')}}:</legend>
                        <div id="defineLevel">
                            <ul class="unstyled">
                                <li>
                                    <label class="span4 text-right" for="level_district">{{msg('indicators.form.selectDistrict')}}: </label>
                                    <select class="span8" id="level_district" ng-model="levelDistrict" ng-options="item.value as item.name for item in listLevelDistrict" class="input-block-level"></select>
                                </li>
                                <li>
                                    <label class="span4 text-right" for="level_block">{{msg('indicators.form.selectBlock')}}: </label>
                                    <select class="span8" id="level_block" ng-model="levelBlock" ng-options="item.value as item.name for item in listLevelBlock" class="input-block-level"></select>
                                </li>
                                <li>
                                    <label class="span4 text-right" for="level_subcentre">{{msg('indicators.form.selectSubcentre')}}: </label>
                                    <select class="span8" id="level_subcentre" ng-model="levelSubcentre" ng-options="item.value as item.name for item in listLevelSubcentre" class="input-block-level"></select>
                                </li>
                                <li>
                                    <label class="span4 text-right" for="level_flw_type">{{msg('indicators.form.selectFLWType')}}: </label>
                                    <select class="span8" id="level_flw_type" ng-model="levelFlwType" ng-options="item.value as item.name for item in listLevelFlwType" class="input-block-level"></select>
                                </li>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="span6 well">
                <label for="name">{{msg('indicators.form.name.label')}}: </label>
                <input id="name" type="text" ng-model="indicator.name" class="input-block-level" placeholder="{{msg('indicators.form.name.placeholder')}}" required />
                <label for="indicatorType">{{msg('indicators.form.definedAs')}}: </label>
                <select id="indicatorType" ng-model="indicator.indicatorType" ng-options="item.id as item.name for (key, item) in listIndicatorTypes | orderBy:'name'" class="input-block-level"></select>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th colspan="2">{{msg('indicators.form.categories.label')}}:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key, item) in categories">
                        <td class="span9">
                            <span>{{item.name}}</span>
                        </td>
                        <td class="span3">
                            <button class="span12 btn" ng-click="removeCategory(key)">{{msg('remove')}}</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <label for="category">{{msg('indicators.form.classifiedAs')}}: </label>
                <select id="category" ng-model="selectedCategory" ng-options="key as item.name for (key, item) in listCategories | orderBy:'name'" class="input-block-level"></select>
                <div class="text-right">
                    <button class="btn" ng-click="addCategory()" ng-disabled="addCategoryDisabled">{{msg('indicators.form.addCategory')}}</button>
                </div>
                <hr class="btn-info" />
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">{{msg('indicators.form.complexConditions.label')}}:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, item) in complexConditions">
                            <td class="span9">
                                <span>{{item.operatorType.name+' &quot;'+item.field+'&quot; from &quot;'+item.form.displayName+'&quot; where '+item.comparisonSymbol.name+' '+item.comparisonValue}}</span>
                            </td>
                            <td class="span3">
                                <button class="span12 btn" ng-click="removeComplexCondition(key)">{{msg('remove')}}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <label for="complexConditionsAdd">{{msg('indicators.form.complexConditions.list.label')}}:</label>
                <select id="complexConditionsAdd" ng-model="selectedComplexCondition" ng-options="key as item.operatorType.name+' &quot;'+item.field+'&quot; from &quot;'+item.form.displayName+'&quot; where '+item.comparisonSymbol.name+' '+item.comparisonValue for (key, item) in listComplexConditions" class="input-block-level"></select>
                <div class="text-right">
                    <button class="btn float-left" ng-click="launchDialog()">{{msg('indicators.form.createNewComplexCondition')}}</button>
                    <button class="btn" ng-click="addComplexCondition()" ng-disabled="addDimensionDisabled">{{msg('indicators.form.addDimension')}}</button>
                    <button class="btn btn-primary" ng-click="submit()" ng-disabled="form.$invalid || !ownersValid || !categoriesValid || !conditionsValid || !typeValid">{{msg('indicators.form.submit')}}</button>
                </div>
            </div>
        </div>
    </form>
</div>
