<div ng:init="$root.pageTitle = title"></div>

<form id="createComplexConditionForm" name="createForm" novalidate>
<div class="modal-header">
    <h3>Create New Condition</h3>
</div>
<div class="modal-body">
    <label for="operatorType">Operator:</label>
    <select id="operatorType" ng-model="newCondition.operatorType" ng-options="item.id as item.name for item in listOperatorTypes" class="input-block-level" required></select>
    <label for="form">Form:</label>
    <select id="form" ng-model="newCondition.form" ng-options="item.id as item.displayName for item in listForms" class="input-block-level" required></select>
    <label for="field">Calculate By:</label>
    <select id="field" type="text" ng-model="newCondition.field" ng-options="item as item for item in listFields" class="input-block-level" required></select>
    <label for="comparisonSymbol">Comparison:</label>
    <select id="comparisonSymbol" ng-model="newCondition.comparisonSymbol" ng-options="item.id as item.name for item in listComparisonSymbols" class="input-block-level" required></select>
    <label for="comparisonValue">Value:</label>
    <input id="comparisonValue" type="number" ng-model="newCondition.comparisonValue" required />
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="saveNewComplexCondition();dismiss()" ng-disabled="createForm.$invalid">Save Changes</button>
    <button class="btn" ng-click="dismiss()">Cancel</button>
</div>
</form>
