<div class="sidebar span2">
    <nav>
        <ul class="nav nav-list">
            <li class="nav-header">{{msg('menu.admin')}}</li>
            <li ng-class="{active: getLocation() == '#/admin/forms'}" ng-show="hasRole('CAN_EDIT_FORMS')"><a href="#/admin/forms"><i class="icon-list"></i> {{msg('menu.forms')}}</a></li>
            <li ng-class="{active: getLocation() == '#/admin/computed-fields'}" ng-show="hasRole('CAN_CREATE_COMPUTED_FIELDS')"><a href="#/admin/computed-fields"><i class="icon-briefcase"></i> {{msg('menu.admin.computedFields')}}</a></li>
        </ul>
        <ul class="nav nav-list">
            <li class="nav-header">{{msg('menu.languages')}}</li>
            <li ng-class="{active: getLocation() == '#/admin/languages'}" ng-show="hasRole('CAN_CREATE_LANGUAGES')"><a href="#/admin/languages"><i class="icon-briefcase"></i> {{msg('menu.languages')}}</a></li>
            <li ng-class="{active: getLocation() == '#/admin/select-language'}"><a href="#/admin/select-language"><i class="icon-flag"></i> {{msg('menu.languages.select')}} </a></li>
        </ul>
    </nav>
</div>
