<div class="sidebar span2">
    <nav>
        <ul class="nav nav-list">
            <li class="nav-header">Admin</li>
            <li ng-class="{active: getLocation() == '#/admin/forms'}"><a href="#/admin/forms"><i class="icon-list"></i> {{msg('menu.forms')}}</a></li>
            <li ng-class="{active: getLocation() == '#/admin/computed-fields'}"><a href="#/admin/computed-fields"><i class="icon-briefcase"></i> {{msg('menu.admin.computedFields')}}</a></li>
            <li class="nav-header">Languages</li>
            <li ng-class="{active: getLocation() == '#/admin/languages'}"><a href="#/admin/languages"><i class="icon-briefcase"></i> Manage languages</a></li>
            <li ng-class="{active: getLocation() == '#/admin/select-language'}"><a href="#/admin/select-language"><i class="icon-flag"></i> Select language</a></li>
        </ul>
    </nav>
</div>